Options +SymLinksIfOwnerMatch
Options -Indexes

require valid-user
Authname "Basic Auth"
Authtype Basic
AuthUserFile "/home/zb217839/web-dev-project.com/fbccm/.htpasswd"

<FilesMatch ".(htaccess|htpasswd)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteRule ^(.*/)?\.git+ - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteRule ^db_dumps/?$ - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteRule ^cache/?$ - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteRule ^vendor/?$ - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteRule ^migrations/?$ - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteRule ^/?composer\.json$ - [F,L]
ErrorDocument 403 "Access Forbidden"

<ifModule mod_headers.c>
	#Header set Cache-Control "no-cache, no-store"
	#Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
	#Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

	Header set Content-Security-Policy "default-src 'self'; script-src https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://code.jquery.com 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'self'; img-src 'self' data: blob:; frame-src 'self'; style-src https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://fonts.googleapis.com 'self' 'unsafe-inline'; font-src https://fonts.gstatic.com  'self' data:; frame-ancestors 'none'; base-uri 'self'; form-action 'self';"

	Header set X-XSS-Protection "1; mode=block"
	Header set X-Frame-Options "DENY"
	Header set X-Content-Type-Options "nosniff"
	#Header set Referrer-Policy "same-origin"
	Header set Feature-Policy "geolocation 'self'"
</ifModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# If you installed CodeIgniter in a subfolder, you will need to
	# change the following line to match the subfolder you need.
	# http://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewritebase
	# RewriteBase /

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	# Rewrite "www.example.com -> example.com"
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

	# Checks to see if the user is attempting to access a valid file,
	# such as an image or css document, if this isn't true it sends the
	# request to the front controller, index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

	# Ensure Authorization header is passed along
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
